

.resizer_ {
    width: 0.7rem;
    cursor: ew-resize;
}



.personalMap_ {
    overflow-y: auto;
    max-height: 100vh;

    .hamburger-react {
        position: absolute !important;
        
        top: 0.5rem;
    }




    transition: margin-left 0.4s;
    color: var(--color);
    width: 35%;

    h2 {
        font-size: 2rem;
        margin: 2rem 0;
    }
    ._gideCard_ {
        padding: 0.5rem 0;
        p {
            padding: 0.5rem  0;
        }
    }
    ._mapGide_ {
        padding: 1rem 2rem;
    }
  
    ._mapContainer_ {
        overflow: auto;
        width: 100%;
    }
    
} 




.personalMap_.showBar[data-width = false] {
    z-index: 2;
    background-color: var(--background_color);
    position: absolute;
    width: max-content;
    max-width: 100%; 


        
    .hamburger-react {
        right: 2rem;
    }

}



.showBar[data-width = big] {
    margin-left: 0%;
    .hamburger-react {
        display: none;
    }
}
.showBar[data-width = false] {
    
    .hamburger-react {
       right: 2rem;
    }
}




.hideBar {
    transition: margin-left 0s;
    margin-left: -35%;
  
    .hamburger-react {
        left:2rem;
     }
}

