.resizer_ {
    width: 0.7rem;
    cursor: ew-resize;
}
$mapSize: 35;
.personalMap_ {
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    transition: margin-left 0.4s;
    color: var(--color);
    width: #{$mapSize} + "%";

    .hamburger-react {
        display: none;
    }

    h2 {
        font-size: 2rem;
        margin: 0rem 0 1rem 0.5rem;
        width: 80%;

    }
    ._gideCard_ {
        cursor: default;
        padding: 0.8rem 0;
        h3 {
            margin: 0 0.5rem;
        }
        a {
            min-width: max-content;
            width: 50%;
            display: block;
            padding: 0.5rem;
            text-decoration: none;
            color: inherit;
            border-radius: 8px;
        }
        a:hover {
            background-color:var(--background_color_hover);
            color: var(--text_color);
        }
    }
    ._mapContainer_ {
        padding: 1rem 0;

    }
}

// ===========  Burger and left bar animation  ==============
// .personalMap_.showBar[data-width = false] {
//     z-index: 2;
//     background-color: var(--background_color);
//     position: absolute;
//     width: max-content;
//     max-width: 100%;

//     .hamburger-react {
//         right: 2rem;
//     }

// }

// .showBar[data-width = big] {
//     margin-left: 0%;
//     .hamburger-react {
//         display: none;
//     }
// }
// .showBar[data-width = false] {

//     .hamburger-react {
//        right: 2rem;
//     }
// }

// .hideBar {
//     transition: margin-left 0s;
//     margin-left: -35%;

//     .hamburger-react {
//         left:2rem;
//      }
// }

// ===========  Burger and left bar animation  ==============

$breakpoint-xs: 480px;
$breakpoint-s: 768px;
$breakpoint-md: 1024px;
$breakpoint-l: 1250px;
$breakpoint-xl: 1900px;

@media screen and (max-width: #{$breakpoint-l}) {
    .personalMap_ {
        margin-left: -#{$mapSize} + "%";
        background-color: var(--background_color);

        .hamburger-react {
            position: absolute !important;
            display: block;
            top: 0.5rem;
            left: 0.5rem;
        }
    }
    .personalMap_.showBar {
        margin-left: 0;
        position: absolute;
        width: max-content;
        z-index: 3;


        .hamburger-react {
            position: sticky !important;

            left: 80%;
        }
    }
}
