./frontend/node_modules
docker-compose
BackEnd
Bot
./FrontEnd/db
./FrontEnd/node_modules
.nginx
.vsc
.env.backend
.env.bot
.env.frontend
.env.postgres
./FrontEnd/src/global/.env.js

.DS_Store
.idea
./FrontEnd/.idea
./FrontEnd/src/.idea
./FrontEnd/src/.DS_Store
./FrontEnd/src/.well-known/pki-validation