* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background_color: rgb(223, 221, 221);
  --background_color_hover: rgb(194, 194, 194);
  --bg_color_btn: rgb(99, 99, 99);
  --color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 2rem;
  background-color: black;
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: solid black 3px;

  width: 0.6rem;
  background: var(--background_color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background_color_hover);
}

html {
  font-size: clamp(12px, 0.8vw, 28px);
}

.App {
  background-color: var(--background_color);
  display: flex;
}
